<ion-header>
  <ion-toolbar color="asp">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/tabs/home" text=""></ion-back-button> -->
      <ion-button [fill]="'clear'" routerLink="/tabs/home">
        <ion-icon slot="icon-only" ios="chevron-back-outline" md="arrow-back-outline" size="default"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Quản lý sản phẩm
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="mt-16">
    <ion-item *ngFor="let nav of navs" [detail]="true" [routerLink]="[nav.routerLink]">
      <ion-icon slot="start" [ios]="nav.icon.name+'-outline'" [md]="nav.icon.name+'-sharp'" [color]="nav.icon.color"></ion-icon>
      <ion-label>{{nav.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>