<ion-content [fullscreen]="true" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header id="home-header" class="ion-no-border">
    <ion-toolbar color="asp" class="ion-no-border">
      <img class="logo" alt="{{companyName}}" src="../../../../assets/images/logo.png" />
      <!-- <ion-buttons slot="end" fill="clear" class="mr-16">
        <button mat-icon-button class="notifications" (click)="viewNotifi()">
          <mat-icon [matBadge]="totalNotRead" matBadgePosition="after" matBadgeColor="warn">notifications_none
          </mat-icon>
        </button>
      </ion-buttons> -->
    </ion-toolbar>
    <ion-toolbar color="asp" mode="md" class="ion-no-border ion-text-left last">
      <ion-buttons slot="start" class="member">
        <!-- <ion-icon style="margin:0px 8px;" size="large" slot="icon-only" ios="person-circle-outline" md="person-circle-vertical"></ion-icon> -->
        <ion-icon size="large" class="avatar" src="../../../../assets/images/avatar.svg"></ion-icon>
        <div class="member-info">
          <span class="member-id">{{currentUser?.Member_Name}}<br>
          </span>
          <span class="member-name">{{currentUser?.Member_ID}}</span>
        </div>
      </ion-buttons>
      <ion-buttons slot="end" fill="clear" class="mr-16">
        <ion-button (click)="presentActionSheet()">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-header class="home-background ion-no-border" mode="ios">
    <ion-toolbar color="asp" class="ion-no-border ion-text-left">
      <ion-buttons slot="start" class="member">
        <button class="avatar" mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
        <div class="member-info">
          <span class="member-id">{{currentUser?.Member_Name}}<br>
          </span>
          <span class="member-name">{{currentUser?.Member_ID}}</span>
        </div>
      </ion-buttons>
      <ion-buttons slot="end" fill="clear" class="mr-16">
        <ion-button (click)="presentActionSheet()">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->

  <ion-grid class="content-home">

    <ion-card class="content-fixed">
      <ion-card-content class="p-0">
        <ion-grid>
          <ion-slides pager="true" [options]="slideOpts">
            <ng-container *ngFor="let fn of funcs | funcsFiltered:{fixedTop:true}">
              <ion-slide (click)="gotoFn(fn)">
                <div matRipple class="div-button">
                  <ng-container *ngIf="!fn.isMaterialIcon;else material_icon">
                    <ion-icon class="icon" [ios]="fn.iconName+ '-outline'" [md]="fn.iconName+'-sharp'" color="asp">
                    </ion-icon>
                  </ng-container>
                  <ng-template #material_icon>
                    <i [ngClass]="platformStr =='ios' && isNativePlatform?'material-icons-outlined':'material-icons'"
                      class="icon">{{fn.iconName}}</i>
                  </ng-template>
                  <label class="text">{{fn.title}}</label>
                </div>
              </ion-slide>
            </ng-container>
          </ion-slides>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-grid class="content-dynamic">
      <ion-list-header class="title">
        
      </ion-list-header>
      <ion-row class="align-self-center feature-list">
        <ng-container *ngFor="let fn of funcs | funcsFiltered:{fixedTop:false}">
          <ion-col size="{{layoutConfig.colSize}}" (click)="gotoFn(fn)">
            <div class="div-button" matRipple>
              <ng-container *ngIf="!fn.isMaterialIcon;else material_icon">
                <ion-icon class="icon" [ios]="fn.iconName+ '-outline'" [md]="fn.iconName+'-sharp'" color="asp">
                </ion-icon>
              </ng-container>
              <ng-template #material_icon>
                <i [ngClass]="platformStr =='ios' && isNativePlatform?'material-icons-outlined':'material-icons'"
                  class="icon">{{fn.iconName}}</i>
              </ng-template>
              <label class="text">{{fn.title}}</label>
            </div>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>

  </ion-grid>
</ion-content>
