

<ng-container *ngIf="!loading; else elseTemplate">
  <ion-list class="info-detail ion-margin-bottom">
    <ion-item *ngFor="let item of products" detail="false">
      <ion-button slot="end" *ngIf="!vm?.is_HoanThanh" (click)="updateQuantity(item)" fill="clear" color="medium">
        <ion-icon slot="icon-only" name="pricetag-outline" size="default"></ion-icon>
      </ion-button>
      <ion-label class="ion-text-wrap">
        <h3>{{item.ten_Vt}}</h3>
        <p class="asp-color-medium">Mã lô:&nbsp;
          <span class="asp-color-medium">{{item.ma_Lo}}</span>
        </p>
        <p class="asp-color-medium">SL sổ sách:&nbsp;
          <span class="asp-color-danger">{{item.so_Luong_Ss}}</span>
        </p>
        <p class="asp-color-medium">SL kiểm kê:&nbsp;
          <span class="asp-color">{{item.so_Luong_Kk}}</span>
        </p>
      </ion-label>
      <!-- <ion-radio [value]="item.ma_Vt" color="asp" slot="start" (ionFocus)="onChangeRadio(item)"></ion-radio> -->
      <!-- <ion-note slot="end" color="asp" class="mr-0" style="font-size:11pt">
        <span class="asp-color">{{item.gia || 0 | number}}<sup>đ</sup></span>
      </ion-note> -->
    </ion-item>
  </ion-list>
</ng-container>
<ng-template #elseTemplate>
  <asp-skeleton></asp-skeleton>
</ng-template>