<ion-row>
  <ion-col size="10">
    <ion-searchbar class="m-0 p-0" [ngModelOptions]="{standalone: true}" showCancelButton="never"
      (ionFocus)="openFilterProductsModal()" [(ngModel)]="searchTerm" placeholder="Tìm kiếm mã vật tư, tên vật tư">
    </ion-searchbar>
  </ion-col>
  <ion-col size="2">
    <ion-button (click)="productScanner()" fill="clear" class="ion-no-margin mt-8 p-0 btn-scan" color="medium">
      <ion-icon slot="icon-only" size="large" name="scan-sharp"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>
<!-- <app-asp-search #searchBar [(aspModel)]="searchTerm" [animated]="false" (aspModelChange)="filters()"
  cancelButtonIcon="" showCancelButton="never" placeholder="Tìm kiếm sản phẩm...">
</app-asp-search> -->
<ng-container *ngIf="products; else firsrLoadingTemplate">
  <ion-list>
    <ion-item #allTheseThings button="false" detail="false" *ngFor="let item of products">
      <ng-container>
        <ion-label>
          <h3>{{item.ten_Vt}}</h3>
          <p>
            <span class="mr-5">Mã lô:&nbsp;</span>
            <span >{{item.ma_Lo}}</span>
          </p>
          <p>
            <span class="mr-5">SL sổ sách:&nbsp;</span>
            <span >{{item.ton_Dau}}</span>
          </p>
          <p>
            <span class="mr-5">SL thực tế:</span>
            <input type="number" [(ngModel)]="item.so_Luong_Kk"
              (input)="onChangeValue($event,item,'so_Luong_Kk')" >
          </p>
          <p>
            <input class="default txt-giaitrinh" type="text" placeholder="Nhập giải trình"
              (input)="onChangeValue($event,item,'giai_Trinh')" [(ngModel)]="item.giai_Trinh" >
          </p>
        </ion-label>
        <ion-note slot="end" color="asp" mode="ios">
          <h4>{{setValue(item,'chenh_Lech')}}</h4>
        </ion-note>
      </ng-container>

      <ion-button fill="clear" [matMenuTriggerFor]="menu" class="ion-no-margin ion-no-padding" slot="end"
        color="medium">
        <ion-icon slot="icon-only" name="ellipsis-vertical-sharp" size="default"></ion-icon>
      </ion-button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="removeProduct(item)">
          <mat-icon>delete</mat-icon>
          <span>Xóa</span>
        </button>
      </mat-menu>
    </ion-item>
  </ion-list>
</ng-container>
<ng-template #firsrLoadingTemplate>
  <asp-skeleton></asp-skeleton>
</ng-template>