<ion-header>
  <ion-toolbar color="asp">
    <ion-buttons slot="start">
      <ion-button [fill]="'clear'" routerLink="/components/qcinspection/list">
        <ion-icon slot="icon-only" ios="chevron-back-outline" md="arrow-back-outline" size="default"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chi tiết QC Inspection</ion-title>
    <ion-buttons slot="end" fill="clear">
      <ion-button routerLink="/components/qcinspection/create">
        <ion-icon slot="icon-only" name="add-sharp" size="large">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="light" class="ion-padding">
  <div class="p-5">
    <ion-segment [(ngModel)]="segment" color="asp">
      <ion-segment-button value="exins">
        <ion-label>Ngoại quan</ion-label>
      </ion-segment-button>
      <ion-segment-button value="dim">
        <ion-label>Dim Function</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-grid>
    <ng-container [ngSwitch]="segment">
      <ng-container *ngSwitchCase="'exins'">
        <ng-container>
          <app-exins [vm]="vm"></app-exins>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'dim'">
        <app-dim [vm]="vm"></app-dim>
      </ng-container>
    </ng-container>
  </ion-grid>

  <ng-template #topLoadingTemplate>
    <ion-row class="info-top mt-20">
      <span class="icon-top">
        <ion-skeleton-text animated></ion-skeleton-text>
      </span>
      <ion-col size="12" text-center class="mt-20">
        <ion-text color="medium">
          <p class="title info-top-text">
            <ion-skeleton-text animated style="width: 50%;margin: auto;"></ion-skeleton-text>
          </p>
        </ion-text>
        <h4 class="total info-top-text">
          <ion-skeleton-text animated style="width: 50%;margin: auto;"></ion-skeleton-text>
        </h4>
        <ion-text>
          <ion-skeleton-text animated style="width: 50%;margin: auto;"></ion-skeleton-text>
        </ion-text>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>

<ng-container *ngIf="!loading">
  <ion-footer color="bgcolor" class="bg-footer ion-no-border">
    <ion-item color="bgcolor" class="ion-text-center pt-8 pb-8" lines="none">
      <ion-label class="ion-no-padding ion-text-center ion-no-margin">
        <ion-button [disabled]="submitting"  (click)="null" expand="block" size="default" color="asp">
          <span>Tạo phiếu</span>
          <ion-icon name="return-down-forward-outline" slot="start" size="default" *ngIf="!submitting"></ion-icon>
          <ion-spinner slot="start" size="default" *ngIf="submitting"></ion-spinner>
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-footer>
</ng-container>
