<ion-list lines="none" class="info-detail ion-margin-bottom">

  <ion-item>
    <ion-label class="ion-no-margin ion-no-padding">
      <ion-text class="title">Công đoạn</ion-text>
    </ion-label>
    <ion-note slot="end" class="ion-no-margin ion-text-end ion-text-wrap">
      <ion-text class="content">Ma_Kho</ion-text>
    </ion-note>
  </ion-item>

  <ion-item>
    <ion-label class="ion-no-margin ion-no-padding">
      <ion-text class="title">Stt</ion-text>
    </ion-label>
    <ion-note slot="end" class="ion-no-margin ion-text-end ion-text-wrap">
      <ion-text class="content">Stt</ion-text>
    </ion-note>
  </ion-item>

  <ion-item>
    <ion-label class="ion-no-margin ion-no-padding">
      <ion-text class="title">Điều chỉnh</ion-text>
    </ion-label>
    <ion-note slot="end" class="ion-no-margin ion-text-end ion-text-wrap">
      <ion-text class="content" [color]="vm?.is_DaXuLy?'asp':'danger'">
        <span>
          Chua xong
        </span>
      </ion-text>
    </ion-note>
  </ion-item>

</ion-list>

<ion-list lines="none" class="info-detail ion-margin-bottom">
  <ion-list-header>
    <ion-label color="medium">
      <p>Ghi chú</p>
    </ion-label>
  </ion-list-header>
  <p class="ion-padding-horizontal">Ghi_Chu</p>
</ion-list>

<ion-list lines="none" class="info-detail" *ngIf="(vm?.created_By && vm?.created_Date)">

  <ion-item>
    <ion-label class="ion-no-margin ion-no-padding">
      <ion-text text-left class="title">Người tạo</ion-text>
    </ion-label>
    <ion-note slot="end" class="ion-no-margin ion-text-end ion-text-wrap content">
      <ion-text>Nguoi tao</ion-text>
    </ion-note>
  </ion-item>

  <ion-item>
    <ion-label class="ion-no-margin ion-no-padding">
      <ion-text text-left class="title">Ngày tạo</ion-text>
    </ion-label>
    <ion-note slot="end" class="ion-no-margin ion-text-end ion-text-wrap content">
      <ion-text>
        Ngay tao
      </ion-text>
    </ion-note>
  </ion-item>
</ion-list>