<ion-header>
  <ion-toolbar color="asp">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/components/inventory/list" text=""></ion-back-button> -->
      <ion-button [fill]="'clear'" [routerLink]="['/components/product']">
        <ion-icon slot="icon-only" ios="chevron-back-outline" md="arrow-back-outline" size="default"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Kiểm tra thông tin sản phẩm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="light" class="ion-padding">
    <div >
      <ion-list *ngIf="model; else null ">
        <ion-item lines="none" class="info ion-margin-bottom" >
          <ion-avatar slot="start" class="avatar">
            <img style="width: 100%;height: 100%;" [src]="model.hinh | displayAvatar"
              title="{{model.ten_Vt}}">
          </ion-avatar>
          <ion-label class="ion-no-padding">
            <h4 class="ion-text-wrap ion-text-bold">{{model.ten_Vt}}</h4>
          </ion-label>
        </ion-item>
        
        <ion-item>
          <ion-label class="ion-no-margin ion-no-padding">
            <ion-text text-left class="asp-color-medium title">Mã vật tư</ion-text>
            <ion-text class="body ion-float-right">{{model.ma_Vt}}</ion-text>
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-label class="ion-no-margin ion-no-padding">
            <ion-text text-left class="asp-color-medium title">Nhóm vật tư</ion-text>
            <ion-text class="body ion-float-right">{{model.ma_Nh_Vt}}</ion-text>
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-label class="ion-no-margin ion-no-padding">
            <ion-text text-left class="asp-color-medium title">Tên nhóm vật tư</ion-text>
            <ion-text class="body ion-float-right">{{model.ten_Nh_Vt}}</ion-text>
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-label class="ion-no-margin ion-no-padding">
            <ion-text text-left class="asp-color-medium title">Mã Lô</ion-text>
            <ion-text class="body ion-float-right">{{model.ma_Lo}}</ion-text>
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-label class="ion-no-margin ion-no-padding">
            <ion-text text-left class="asp-color-medium title">Mã Kho</ion-text>
            <ion-text class="body ion-float-right">{{model.ma_Kho}}</ion-text>
          </ion-label>
        </ion-item>
        
        <ion-item>
          <ion-label class="ion-no-margin ion-no-padding">
            <ion-text text-left class="asp-color-medium title">Số lượng tồn</ion-text>
            <ion-text class="body ion-float-right">{{model.so_Luong | number}}</ion-text>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="ion-no-margin ion-no-padding">
            <ion-text text-left class="asp-color-medium title">Hạn sử dụng</ion-text>
            <ion-text class="body ion-float-right">{{model.han_Sd | formatDate }}</ion-text>
          </ion-label>
        </ion-item>

        
        <ion-item>
          <ion-label class="ion-no-margin ion-no-padding">
            <ion-text text-left class="asp-color-medium title">Ngày sản xuất</ion-text>
            <ion-text class="body ion-float-right">{{model.ngay_Sx | formatDate}}</ion-text>
          </ion-label>
        </ion-item>
  
      </ion-list>
    </div>
    <!-- <ng-template #nodata>
      <div class="hinhanh">
        <img src="/assets/images/nodata.png" alt="logo" >
      </div>
  </ng-template> -->
</ion-content>

<ion-footer color="bgcolor" class="bg-footer ion-no-border">
  <ion-item color="bgcolor" class="ion-text-center pt-8 pb-8" lines="none">
    <ion-label class="ion-no-padding ion-text-center ion-no-margin">
      <ion-button mat-icon-button class="scaner-button"  aria-label="Product Scaner" (click)="startScan()" expand="block" size="default" color="asp" [disabled]="submitting">
        <span>Scan Now</span>
        <ion-spinner slot="start" size="default" *ngIf="submitting"></ion-spinner>
        <!-- <ion-icon name="checkmark-done-sharp" slot="start" size="default" *ngIf="!submitting"></ion-icon> -->
      </ion-button>
    </ion-label>
  </ion-item>
</ion-footer>