<ion-header>
  <ion-toolbar color="asp">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" text="" size="default"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Đổi mật khẩu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form role="form" #pForm="ngForm" (ngSubmit)="pForm.valid && onSubmit()">
    <div class="ion-margin-top p-20">
      <div class="standard">

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Mật khẩu hiện tại</mat-label>
          <mat-icon matPrefix color="primary" class="mr-5">vpn_key</mat-icon>
          <input matInput required class="color-default" [type]="hide ? 'password' : 'text'" name="password"
            name="current_password" [(ngModel)]="req.current_password" required />
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon class="asp-color-medium">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Mật khẩu mới</mat-label>
          <mat-icon matPrefix color="primary" class="mr-5">vpn_key</mat-icon>
          <input matInput class="color-default" [type]="'password'" name="password" [(ngModel)]="req.password" required
            #password="ngModel">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Xác nhận mật khẩu mới</mat-label>
          <mat-icon matPrefix color="primary" class="mr-5">vpn_key</mat-icon>
          <input matInput class="color-default" [type]="'password'" name="confirm_password"
            [(ngModel)]="req.confirm_password" required #confirm_password="ngModel" [pattern]="password.value" />
          <mat-error *ngIf="confirm_password.errors?.pattern">
            Mật khẩu không khớp!!!
          </mat-error>
        </mat-form-field>

      </div>
      <div class="text-center mt-5">
        <button type="submit" [disabled]="pForm.invalid || submitting" (click)="onSubmit()" class="btn-submit w-100"
          mat-raised-button color="primary">Đổi mật khẩu</button>
        <mat-progress-bar *ngIf="submitting" mode="indeterminate" color="primary"></mat-progress-bar>
      </div>
    </div>

  </form>
</ion-content>