<ion-header>
  <ion-toolbar color="asp">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" fill="clear">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar #searchBar [(ngModel)]="searchTerm" (ionChange)="filterEmps()" cancelButtonIcon=""
      debounce="500" showCancelButton="never" placeholder="Tìm kiếm nhân viên...">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="!loading; else skeletonTmpl">
    <ion-list class="mt-10">
      <!-- <ion-radio-group [(ngModel)]="radioModel"> -->
        <ion-item *ngFor="let item of emps">
          <ion-label class="ion-text-wrap">
            <p>{{item.empID}} - {{item.empName}}</p>
            <!-- <p>
              {{item.stageName}}
            </p> -->
          </ion-label>
          <ion-checkbox (ionChange)="handleCheckboxChange($event, item)"></ion-checkbox>
        </ion-item>
      <!-- </ion-radio-group> -->
    </ion-list>
  </ng-container>

  <ng-template #skeletonTmpl>
    <asp-skeleton></asp-skeleton>
  </ng-template>
</ion-content>
<ion-footer>
  <ion-button (click)="closeModal()">ĐÓNG</ion-button>
</ion-footer>