<ion-header [translucent]="true">
  <ion-toolbar color="asp">
    <ion-buttons slot="start">
      <ion-button [fill]="'clear'" (click)="view_exinsdetail()">
        <ion-icon slot="icon-only" ios="chevron-back-outline" md="arrow-back-outline" size="default"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chi tiết Dim Function</ion-title>
    <ion-buttons slot="end" fill="clear">
      <ion-button>
        <i class="material-icons">sort_by_alpha</i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="loadMoreData($event,true)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
   <ion-grid>
    <ng-container>    
      <ion-list class="mt-0 pt-0">
        <ion-item *ngFor="let item of data">
          <ion-button fill="clear" [matMenuTriggerFor]="menu" slot="start" color="medium">
            <ion-icon slot="start" *ngIf="item.is_App;else desktopIcon" name="phone-portrait-outline"
              color="asp">
            </ion-icon>
          </ion-button>
          <ng-template #desktopIcon>
            <ion-icon slot="start" name="desktop-outline" color="asp"></ion-icon>
          </ng-template>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="delete(item)" detail="true">
              <mat-icon>delete</mat-icon>
              <span>Xoá</span>
            </button>
          </mat-menu>
          <ion-label class="ion-no-padding">
            <h3>
              {{item.defectName}}
            </h3>
            <p>{{item.defectID}}</p>
          </ion-label>
          <ion-note slot="end">
            <span class="asp-color-medium">
              <p style="color: red;">{{item.defectQuantity | number}}</p>
            </span>
          </ion-note>
        </ion-item>
      </ion-list>
    </ng-container>
   </ion-grid>
</ion-content>