<ion-header [translucent]="true">
  <ion-toolbar color="asp">
    <ion-buttons slot="start">
      <ion-button [fill]="'clear'" [routerLink]="['/components/qcinspection/list']">
        <ion-icon slot="icon-only" ios="chevron-back-outline" md="arrow-back-outline" size="default"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chi tiết ngoại quan</ion-title>
    <ion-buttons slot="end" fill="clear">
      <ion-button>
        <i class="material-icons">sort_by_alpha</i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="loadMoreData($event,true)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/components/qcinspection/create" color="asp">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  
   <ion-grid>
    <ng-container *ngIf="!loading; else elseTemplate">    
      <ion-list class="mt-0 pt-0">
        <!-- <ion-item detail="false" button="false" lines="{{totalCount>0?'inset':'none'}}">
          <ion-label class="ion-no-margin ion-no-padding" >
            <p text-bold>Tổng:&nbsp;{{totalCount | number}}</p>
          </ion-label>
        </ion-item> -->

        <ion-item *ngFor="let item of data;trackBy:trackBy">
          <ion-button fill="clear" [matMenuTriggerFor]="menu" slot="start" color="medium">
            <ion-icon slot="start" *ngIf="item.is_App;else desktopIcon" name="phone-portrait-outline"
              color="asp">
            </ion-icon>
          </ion-button>
          <ng-template #desktopIcon>
            <ion-icon slot="start" name="desktop-outline" color="asp"></ion-icon>
          </ng-template>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="view_defect(item)" detail="true">
              <mat-icon>input</mat-icon>
              <span>Nhập Defects</span>
            </button>
            <button mat-menu-item (click)="view_edit(item)" detail="true">
              <mat-icon>edit</mat-icon>
              <span>Sửa</span>
            </button>
            <button mat-menu-item (click)="delete(item)" detail="true">
              <mat-icon>delete</mat-icon>
              <span>Xoá</span>
            </button>
          </mat-menu>
          <ion-label class="ion-no-padding">
            <h3>
              {{item.iqcCheckName}}
            </h3>
            <p>{{item.iqcCheckCont}}</p>
            <p>{{item.iqcTemplateQuantity | number}}</p>
          </ion-label>
          <ion-note slot="end">
            <span class="asp-color-medium">
              <p style="color: red;">{{item.iqcEvalueResult}}</p>
              <p style="color: blue">{{item.iqcPeriodTime}}</p>
            </span>
          </ion-note>
        </ion-item>
      </ion-list>
    </ng-container>
   </ion-grid>
</ion-content>

