<ion-header [translucent]="true">
  <ion-toolbar color="asp">
    <ion-buttons slot="start">
      <ion-button [fill]="'clear'" routerLink="/tabs/home">
        <ion-icon slot="icon-only" ios="chevron-back-outline" md="arrow-back-outline" size="default"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title[strMaCt] }}</ion-title>
    <ion-buttons slot="end" fill="clear">
      <ion-button>
        <i class="material-icons">sort_by_alpha</i>
      </ion-button>
      <!-- <ion-button (click)="openModalFilter()">
        <ion-icon slot="icon-only" name="filter-sharp" size="default"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="loadMoreData($event, true)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="perm?.allow_New" (click)="edit({}, 78)" color="asp">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-row>
    <ion-col size="12">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Lọc theo ngày</mat-label>
        <mat-date-range-input [max]="today" [rangePicker]="picker" (click)="picker.open()">
          <input matStartDate [(ngModel)]="filterModel.ngay_Ct1" disabled placeholder="Ngày bắt đầu"
            (focus)="picker.open()" />
          <input matEndDate [(ngModel)]="filterModel.ngay_Ct2" (dateChange)="dateChange()" disabled
            placeholder="Ngày kết thúc" (focus)="picker.open()" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="loading"></mat-datepicker-toggle>
        <mat-date-range-picker touchUi #picker [disabled]="loading"></mat-date-range-picker>
      </mat-form-field>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-label>Trạng thái</ion-label>
    <ion-select (ionChange)="getList()" [(ngModel)]="selectTrang_Thai" [interfaceOptions]="selectTrang_Thai"
      interface="action-sheet" placeholder="Chọn trạng thái">
      <ion-select-option value="0">Chưa duyệt</ion-select-option>
      <ion-select-option value="1">Đã duyệt</ion-select-option>
      <ion-select-option value="">Tất cả</ion-select-option>
    </ion-select>
  </ion-item>

  <app-asp-search [(aspModel)]="searchTerm" (aspModelChange)="getList()"></app-asp-search>
  <ion-grid>
    <ng-container *ngIf="!loading; else elseTemplate">
      <ion-list>
        <ion-list-header>
          <ion-label>
            <p>
              Tổng:&nbsp;<span style="font-size: 14px" text-bold>{{
                totalCount | number
                }}</span>
            </p>
          </ion-label>
        </ion-list-header>
        <ion-item *ngFor="let item of data; trackBy: trackBy" detail="false">
          <ion-label (click)="view_edit(item)">
            <h3 >
              {{ item.ten_Dt }}
            </h3>
            <p>
              <span >{{ item.dien_Giai }}</span>
            </p>
            <p>
              <span class="date">{{ item.ten_Kho }}</span>  
            </p>
            <p>
              <span class="date">{{ item.so_Ct }} - {{ item.ngay_Ct | formatDate }}</span>
            </p>
            
          </ion-label>
          <ion-button fill="clear" [matMenuTriggerFor]="menu" slot="start" color="medium">
            <ion-icon slot="start" *ngIf="item.is_App; else desktopIcon" name="phone-portrait-outline"
              [color]="item.duyet ? 'asp' : 'danger'">
            </ion-icon>
            <ng-template #desktopIcon>
              <ion-icon slot="start" name="desktop-outline" [color]="
                  item.ten_TrangThai == 'Đã duyệt' ? 'secondary' : 'danger'
                "></ion-icon>
            </ng-template>
          </ion-button>

          <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item *ngIf="perm?.allow_View" (click)="view_edit(item)">
              <i [ngClass]="platformStr =='ios' && isNativePlatform?'material-icons-outlined':'material-icons'"
              class="icon">preview</i>
              <span>Xem phiếu</span>
            </button>
            <button mat-menu-item *ngIf="perm?.allow_Edit" (click)="edit(item, 69)">
              <i [ngClass]="platformStr =='ios' && isNativePlatform?'material-icons-outlined':'material-icons'"
              class="icon">create</i>
              <span>Sửa phiếu</span>
            </button>
            <button *ngIf="item.ma_Ct != 'DC'" mat-menu-item (click)="edit(item, 86)">
              <i [ngClass]="platformStr =='ios' && isNativePlatform?'material-icons-outlined':'material-icons'"
                      class="icon">note_add</i>
              <span>{{
                strMaCt == "PN" || strMaCt == "TP"
                ? "Tạo phiếu xuất"
                : "Tạo phiếu nhập"
                }}</span>
            </button>-->
            
            
            <button *ngIf="!item.duyet && perm_duyet?.allow_Access" mat-menu-item (click)="confirm(item, true)">
              <i [ngClass]="platformStr =='ios' && isNativePlatform?'material-icons-outlined':'material-icons'"
              class="icon">check_circle</i>
              <span>Duyệt</span>
            </button>
            <button *ngIf="item.duyet && perm_duyet?.allow_Access" mat-menu-item (click)="confirm(item, false)">
              <i [ngClass]="platformStr =='ios' && isNativePlatform?'material-icons-outlined':'material-icons'"
              class="icon">block</i>
              <span>Bỏ duyệt</span>
            </button> 

            <button mat-menu-item (click)="exportPDF(item)">
              <i [ngClass]="platformStr =='ios' && isNativePlatform?'material-icons-outlined':'material-icons'"
              class="icon">picture_as_pdf</i>
              <span>Xem file PDF</span>
            </button>

            <button mat-menu-item (click)="signPDF(item,'1')">
              <i [ngClass]="platformStr =='ios' && isNativePlatform?'material-icons-outlined':'material-icons'"
              class="icon">picture_as_pdf</i>
              <span>Ký duyệt kho</span>
            </button>

            <button mat-menu-item (click)="signPDF(item,'2')">
              <i [ngClass]="platformStr =='ios' && isNativePlatform?'material-icons-outlined':'material-icons'"
              class="icon">picture_as_pdf</i>
              <span>Ký duyệt NV</span>
            </button>
            <!-- <button mat-menu-item *ngIf="perm?.allow_Delete" (click)="delete(item)">
              <i [ngClass]="platformStr =='ios' && isNativePlatform?'material-icons-outlined':'material-icons'"
              class="icon">delete</i>
              <span>Xoá</span>
            </button> -->
          </mat-menu>
        </ion-item>
      </ion-list>
    </ng-container>

    <ng-template #elseTemplate>
      <asp-skeleton></asp-skeleton>
    </ng-template>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>