<ion-header>
  <ion-toolbar color="asp">
    <ion-buttons slot="start">
      <ion-button [fill]="'clear'" routerLink="/components/warehouse/list">
        <ion-icon slot="icon-only" ios="chevron-back-outline" md="arrow-back-outline" size="default"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chi tiết kho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="light" class="ion-padding">

  <ion-list lines="none" class="products-detail ion-margin-top" *ngFor="let item of products">

    <ion-item>
      <ion-label class="ion-no-margin ion-no-padding">
        <ion-text class="asp-color-medium title ion-text-left">Mã kho</ion-text>
        <ion-text class="body ion-float-right">{{item.ma_Kho}}</ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-no-margin ion-no-padding">
        <ion-text text-left class="asp-color-medium title">Tên kho</ion-text>
        <ion-text class="body ion-float-right">{{item.ten_Kho}}</ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-no-margin ion-no-padding">
        <ion-text text-left class="asp-color-medium title">Mã kho cha</ion-text>
        <ion-text class="body ion-float-right">{{item.ma_Kho_Cha }}</ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-no-margin ion-no-padding">
        <ion-text text-left class="asp-color-medium title">Tên kho cha</ion-text>
        <ion-text class="body ion-float-right">{{item.ten_Kho_Cha }}</ion-text>
      </ion-label>
    </ion-item>

   

  </ion-list>
</ion-content>