<ion-header>
  <ion-toolbar color="asp">
    <ion-buttons slot="start">
      <ion-button (click)="removeFilter()" fill="clear">
        Bỏ lọc
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Lọc</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal(false)">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ng-container *ngFor="let part of objectKeys(formlayout);">
    <ng-container *ngIf="formlayout[part]">
      <ng-container [ngTemplateOutlet]="this[part]"></ng-container>
    </ng-container>
  </ng-container>

 <ng-template #chon_ngay>
    <!-- <ion-col size="12">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Chọn ngày</mat-label>
        <mat-date-range-input [max]="today" [rangePicker]="picker" (click)="picker.open()">
          <input matStartDate required name="ngay_Ct1" [(ngModel)]="dteNgay_Ct1" placeholder="Từ ngày"
            (focus)="picker.open()">
          <input matEndDate required name="ngay_Ct2" (dateChange)="dateChange()" [(ngModel)]="dteNgay_Ct2"
            placeholder="Đến ngày" (focus)="picker.open()">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker touchUi #picker></mat-date-range-picker>
      </mat-form-field>
    </ion-col> -->
    <asp-date-filter [classList]="['mat-elevation-z']" [(fromDate)]="this.filterModel.startDate"
    [(toDate)]="this.filterModel.endDate"></asp-date-filter>
  </ng-template>
 
  <ng-template #ngay_ct>
    <ion-col size="12">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Ngày chứng từ</mat-label>
        <input matInput name="ngay_ct" [max]="today" [(ngModel)]="dteNgay_Ct" [matDatepicker]="picker"
          (focus)="picker.open()" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker touchUi color="primary"></mat-datepicker>
      </mat-form-field>
    </ion-col>
  </ng-template>

  <ng-template #customer>
    <ion-col size="12">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Tên đối tượng</mat-label>
        <input matInput name="ma_Dt" autocomplete="off" (focus)="openModalFilter('ma_Dt')"
          [(ngModel)]="filterModel.customer" />
        <button style="font-size: 18px;"  *ngIf="filterModel.customer" mat-icon-button
          matSuffix>
          <mat-icon>clear</mat-icon>
        </button>
        <mat-hint align="end">{{filterModel.customername}}</mat-hint>
      </mat-form-field>
    </ion-col>
  </ng-template>

  <ng-template #warehouse>
    <ion-col size="12">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Tên kho</mat-label>
        <input matInput name="ma_Kho" autocomplete="off" (focus)="openModalFilter('ma_Kho')"
          [(ngModel)]="filterModel.warehouses" />
        <button style="font-size: 18px;"  *ngIf="filterModel.warehouses" mat-icon-button
          matSuffix>
          <mat-icon>clear</mat-icon>
        </button>
        <mat-hint align="end">{{filterModel.warehousesname}}</mat-hint>
      </mat-form-field>
    </ion-col>
  </ng-template>

  <ng-template #groupsproduct>
    <ion-col size="12">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Tên nhóm vật tư</mat-label>
        <input matInput name="ma_Nh_Vt" autocomplete="off" (focus)="openModalFilter('ma_Nh_Vt')"
          [(ngModel)]="filterModel.groupsproduct" />
        <button style="font-size: 18px;"  *ngIf="filterModel.groupsproduct" mat-icon-button
          matSuffix>
          <mat-icon>clear</mat-icon>
        </button>
        <mat-hint align="end">{{filterModel.groupsproductname}}</mat-hint>
      </mat-form-field>
    </ion-col>
  </ng-template>

  <ng-template #products>
    <ion-col size="12">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Tên vật tư</mat-label>
        <input matInput name="ma_Vt" autocomplete="off" (focus)="openModalFilter('ma_Vt')"
          [(ngModel)]="filterModel.products" />
        <button style="font-size: 18px;"  *ngIf="filterModel.products" mat-icon-button
          matSuffix>
          <mat-icon>clear</mat-icon>
        </button>
        <mat-hint align="end">{{filterModel.productsname}}</mat-hint>
      </mat-form-field>
    </ion-col>
  </ng-template>
  
  <ng-template #cont>
    <ion-col size="12">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Mã lô</mat-label>
        <input matInput name="ma_Lo" autocomplete="off" (focus)="openModalFilter('ma_Lo')"
          [(ngModel)]="filterModel.cont" />
        <button style="font-size: 18px;"  *ngIf="filterModel.cont" mat-icon-button matSuffix>
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </ion-col>
  </ng-template>

  <ng-template #kieu_nh>
    <ion-col size="12">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Kiểu nhóm</mat-label>
        <mat-select name="kieu_nh" [(ngModel)]="filterModel.kieu_nh">
          <mat-option *ngFor="let op of listKieu_Nh" [value]="op">
            {{ op }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ion-col>
  </ng-template>

  <ng-template #kieu_th>
    <ion-col size="12">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Kiểu nhóm</mat-label>
        <mat-select name="kieu_th" [(ngModel)]="filterModel.kieu_nh">
          <mat-option *ngFor="let op of listKieu_Th" [value]="op">
            {{ op }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ion-col>
  </ng-template>

  <ng-template #so_Ct_SO>
    <ion-col size="12">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Số chứng từ SO</mat-label>
        <input matInput name="so_Ct_SO" autocomplete="off" (focus)="openModalFilter('so_Ct_SO')"
          [(ngModel)]="filterModel.so_Ct_SO" />
        <button style="font-size: 18px;"  *ngIf="filterModel.so_Ct_SO" mat-icon-button matSuffix>
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </ion-col>
  </ng-template>

  <ng-template #so_Ct_LSX>
    <ion-col size="12">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Số chứng từ LSX</mat-label>
        <input matInput name="so_Ct_LSX" autocomplete="off" (focus)="openModalFilter('so_Ct_LSX')"
          [(ngModel)]="filterModel.so_Ct_LSX" />
        <button style="font-size: 18px;"  *ngIf="filterModel.so_Ct_LSX" mat-icon-button matSuffix>
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </ion-col>
  </ng-template>

  <ng-template #trang_Thai>
    <ion-col size="12">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Trạng thái</mat-label>
        <mat-select name="trang_Thai" [(ngModel)]="filterModel.trang_Thai">
          <mat-option *ngFor="let op of listTrang_Thai" [value]="op">
            {{ op }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ion-col>
  </ng-template>

  <ng-template #dept>
    <ion-col size="12">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Mã bộ phận</mat-label>
        <input matInput name="ma_Bp" autocomplete="off" (focus)="openModalFilter('ma_Bp')"
          [(ngModel)]="filterModel.depts" />
        <button style="font-size: 18px;"  *ngIf="filterModel.depts" mat-icon-button
          matSuffix>
          <mat-icon>clear</mat-icon>
        </button>
        <mat-hint align="end">{{filterModel.deptsname}}</mat-hint>
      </mat-form-field>
    </ion-col>
  </ng-template>

  <ng-template #emp>
    <ion-col size="12">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Mã nhân viên</mat-label>
        <input matInput name="ma_CbNv" autocomplete="off" (focus)="openModalFilter('ma_CbNv')"
          [(ngModel)]="filterModel.emps" />
        <button style="font-size: 18px;"  *ngIf="filterModel.emps" mat-icon-button
          matSuffix>
          <mat-icon>clear</mat-icon>
        </button>
        <mat-hint align="end">{{filterModel.empsname}}</mat-hint>
      </mat-form-field>
    </ion-col>
  </ng-template>

</ion-content>


<ion-footer class="bg-footer ion-padding ion-no-border">
  <ion-button (click)="closeModal(true)" expand="block" size="default" color="asp">Đồng ý
  </ion-button>
</ion-footer>