<ion-header>
  <ion-toolbar color="asp">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/components/products/list" text=""></ion-back-button> -->
      <ion-button [fill]="'clear'" [routerLink]="['/components/product']">
        <ion-icon slot="icon-only" ios="chevron-back-outline" md="arrow-back-outline" size="default"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Quản lý sản phẩm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <app-asp-search [(aspModel)]="searchTerm" (aspModelChange)="getListVatTu()" placeholder="Tìm sản phẩm"></app-asp-search>

  <ion-grid>
    <ng-container *ngIf="!loading; else elseTemplate">
      <ion-list-header>
        <ion-label>
          <p>Tổng:&nbsp;<span style="font-size: 14px;" text-bold>{{totalCount | number}}</span></p>
        </ion-label>
      </ion-list-header>
      
      <ion-list class="info-detail">
        <ion-item no-margin-vertical *ngFor="let item of products;trackBy:trackBy" button="true" detail="false"
          (click)="goToDetail(item)">
          <ion-avatar slot="start" class="avatar">
            <img style="width: 100%;height: 100%;" [src]="item?.hinh | displayAvatar" title="{{item.ten_Vt}}">
          </ion-avatar>
          <ion-label no-margin no-padding>
            <h3 class="ion-text-wrap">{{item.ten_Vt}} &nbsp; 
              <span class="asp-color-medium"> ({{item.ma_Vt}})</span> </h3>
          </ion-label>
          <ion-note slot="end"> {{item.ton_Cuoi}} </ion-note>
        </ion-item>
      </ion-list>
    </ng-container>

    <ng-template #elseTemplate>
      <asp-skeleton></asp-skeleton>
    </ng-template>

  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>