<ion-header>
  <ion-toolbar color="asp">
    <ion-buttons slot="start">
      <ion-button [fill]="'clear'" (click)="closeModal()">
        <ion-icon slot="icon-only" ios="close-outline" md="close-outline" size="default"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chi tiết sản phẩm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="light" class="ion-padding">

  <ion-item lines="none" class="info ion-margin-bottom" >
    <ion-avatar slot="start" class="avatar">
      <img style="width: 100%;height: 100%;" [src]="product?.hinh | displayAvatar" title="{{product.ten_Vt}}">
    </ion-avatar>
    <ion-label class="ion-no-padding">
      <h4 class="ion-text-wrap ion-text-bold">{{product.ten_Vt}}</h4>
    </ion-label>
  </ion-item>

  <ion-list lines="none" class="products-detail ion-margin-top">
    <ion-item>
      <ion-label class="ion-no-margin ion-no-padding">
        <ion-text text-left class="asp-color-medium title">Nhóm vật tư</ion-text>
        <ion-text class="body ion-float-right">({{product.ma_Nh_Vt}}) {{product.ten_Nh_Vt}}</ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-no-margin ion-no-padding">
        <ion-text class="asp-color-medium title ion-text-left">Mã vật tư</ion-text>
        <ion-text class="body ion-float-right">{{product.ma_Vt}}</ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-no-margin ion-no-padding">
        <ion-text text-left class="asp-color-medium title">Mã sản phẩm</ion-text>
        <ion-text class="body ion-float-right">{{product.ma_Sp}}</ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-no-margin ion-no-padding">
        <ion-text text-left class="asp-color-medium title">Đơn vị tính</ion-text>
        <ion-text class="body ion-float-right">{{product.dvt}}</ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-no-margin ion-no-padding">
        <ion-text text-left class="asp-color-medium title">Tồn cuối</ion-text>
        <ion-text class="body ion-float-right">{{product.ton_Cuoi}}</ion-text>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>