::ng-deep .advanced-pie-legend {
    line-height: 25px;

    .total-value {
        margin-bottom: 5px;
    }

    .legend-items-container {
        .legend-items {
            overflow: unset !important;

            .item-color {
                height: 60px !important;
            }
        }
    }
}
