@import "../../assets/sass/variables.scss";
:host {
    ::ng-deep {
        .mat-card {
            padding-top: 5px;
        }
        .mat-card-actions {
            margin-bottom: 0;
        }
        .mat-button-toggle-group {
            width: 100%;
            border: none;
            .mat-button-toggle-appearance-standard {
                width: 50%;
                border-bottom: solid 1px rgba(0, 0, 0, 0.12);
            }
            .mat-button-toggle-checked {
                background-color: inherit;
                border-color: $asp-primary-colors;
            }
            .mat-button-toggle + .mat-button-toggle {
                border-left: none;
            }
            .mat-button-toggle:last-of-type::after {
                background: rgba(0, 0, 0, 0.12);
                width: 1px;
                height: 50%;
                content: "";
                left: 2px;
                position: absolute;
                top: 13px;
            }
        }
        .mat-calendar-header {
            padding-top: 0;
            .mat-calendar-controls {
                margin-top: 0;
            }
        }
    }
}
