<ion-header>
  <ion-toolbar color="asp">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" fill="clear">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar ionFocus="true" #searchBar [(ngModel)]="searchTerm" (ionChange)="filterlistModal()"
      cancelButtonIcon="" debounce="500" showCancelButton="never" placeholder="{{titleList}}"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngIf="!loading;else skeletonTmpl">
    <ion-list>
      <ion-radio-group [(ngModel)]="model">
        <ion-item *ngFor="let item of listModal" detail="false">
          <!-- <ion-radio slot="start" color="asp" (ionFocus)="closeModal(true,item.columnID)" [value]="item.columnID"> -->
          <ion-radio slot="start" color="asp" (click)="closeModal(true,item)" [value]="item.columnID">

          </ion-radio>
          <ion-label>
            <h2>{{item.columnID}}</h2>
            <p>{{item.columnName}}</p>
          </ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ng-container>

  <ng-template #skeletonTmpl>
    <ion-list padding>
      <ion-item no-padding *ngFor="let item of skeletons">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-item>
    </ion-list>
  </ng-template>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>