<ion-row color="primary" justify-content-center>
    <ion-col align-self-center size="12">
      <div class="form-header ion-text-center ion-margin-bottom">
        <img src="/assets/images/logo.jpg">
      </div>
      <div class="p-8">
        <ion-item class="ion-margin-bottom" lines="none">
          <ion-icon class="icon asp-input-icon asp-color" name="person" clear block></ion-icon>
          <input class="asp-input ion-text-center" placeholder="Tài khoản" type="text" name="username" type="text"
            onfocus="this.placeholder=''" onblur="this.placeholder='Tài khoản'" placeholder="Tài khoản"
            [(ngModel)]="username" required />
          <button type="button" class="btn-login-input" *ngIf="username" class="btn-login-input" mat-icon-button
            matSuffix (click)="username=''" aria-label="Xóa" aria-pressed="true">
            <mat-icon>clear</mat-icon>
          </button>
        </ion-item>
        <ion-item lines="none">
          <ion-icon class="icon asp-input-icon asp-color" name="lock-closed" clear block></ion-icon>
          <input matInput name="password" onfocus="this.placeholder=''" onblur="this.placeholder='Mật khẩu'"
            text-center [type]="hide ? 'password' : 'text'" placeholder="Mật khẩu" ngModel required
            class="asp-input ion-text-center" />
          <button type="button" class="btn-login-input" mat-icon-button matSuffix (click)="hide = !hide"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </ion-item>
        <div class="pt-5 w-100" text-center>
          <ion-label color="danger">{{errors.errors.error_description}}</ion-label>
        </div>

      </div>
      <div class="pt-0 ion-padding">
        <ion-button type="submit" (click)="login(form)" shape="round" size="default" color="asp"
          [disabled]="form.invalid || submitting" expand="block">
          Đăng nhập</ion-button>
      </div>
      <!-- <div text-center>
        <a class="asp-link" href="#" onclick="return false;">Quên mật khẩu </a>&nbsp;|&nbsp;
        <a class="asp-link" href="#" onclick="return false;">Đăng ký </a>
      </div> -->
    </ion-col>
  </ion-row>