<ion-header>
  <ion-toolbar color="asp">
    <ion-buttons slot="start" (click)="gotoListReport()">
      <ion-icon slot="icon-only" ios="chevron-back-outline" md="arrow-back-outline" size="default"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">{{strTitle}}</ion-title>

    <ion-buttons slot="end" fill="clear">
      <ion-button (click)="openModalFilter()">
        <ion-icon slot="icon-only" name="filter-sharp" size="default"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="example-container mat-elevation-z8">
    <ng-container *ngIf="list_Columns && list_Columns.length > 0">
      <table mat-table [dataSource]="dataSource">

        <ng-container *ngFor="let col of list_Columns">
          <ng-container [matColumnDef]="col.column_ID" [sticky]="col.column_ID == 'MA_VT'">
            <th mat-header-cell *matHeaderCellDef>{{col.description}}</th>
            <td mat-cell style="white-space: nowrap; text-align: left;" *matCellDef="let element">
              <span [ngSwitch]="col.type" [ngStyle]="{'font-weight': (element.BOLD ==1? 'bold':'')}">
                <span *ngSwitchDefault>{{element[col.column_ID]}}</span>
                <div *ngSwitchCase="'N'" class="displayNumber">
                  <span [ngClass]="{'negative': element[col.column_ID] < 0}"> {{element[col.column_ID] | number}}</span>
                </div>
                <div *ngSwitchCase="'D'"> {{element[col.column_ID] | formatDate}}</div>
              </span>

            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="list_Columns | displayColumns; sticky: true "
          style="background-color: #ffffff;"></tr>
        <tr mat-row *matRowDef="let row; columns: list_Columns | displayColumns;"></tr>

      </table>
    </ng-container>
  </div>
</ion-content>