<ion-header>
  <ion-toolbar color="asp">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/tabs/home" text=""></ion-back-button> -->
      <ion-button [fill]="'clear'" routerLink="/tabs/home">
        <ion-icon slot="icon-only" ios="chevron-back-outline" md="arrow-back-outline" size="default"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Kiểm kê</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="loadMoreData($event,true)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab *ngIf="perm?.allow_New" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/components/inventory/create" color="asp">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-row>
   <ion-col size="12">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Lọc theo ngày</mat-label>
        <mat-date-range-input [max]="today" [rangePicker]="picker" (click)="picker.open()">
          <input matStartDate [(ngModel)]="filterModel.ngay_Ct1" disabled placeholder="Ngày bắt đầu"
            (focus)="picker.open()">
          <input matEndDate [(ngModel)]="filterModel.ngay_Ct2" (dateChange)="onDateChange()" disabled
            placeholder="Ngày kết thúc" (focus)="picker.open()">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="loading"></mat-datepicker-toggle>
        <mat-date-range-picker touchUi #picker [disabled]="loading"></mat-date-range-picker>
        
      </mat-form-field>
      <!-- <asp-date-filter [classList]="['mat-elevation-z']" [(fromDate)]="this.filterModel.ngay_Ct1"
      [(toDate)]="this.filterModel.ngay_Ct2"></asp-date-filter> -->
    </ion-col>   
    <ion-col size="12">
      <app-asp-search [(aspModel)]="filterModel.keyword" [animated]="true" (aspModelChange)="getList()" placeholder="Tìm kiếm theo tên kho, mã kho"></app-asp-search>
    </ion-col>
  </ion-row>

  <ion-grid>
    <ng-container *ngIf="!loading; else elseTemplate">

      <ion-list class="mt-0 pt-0">
        <ion-item detail="false" button="false" lines="{{totalCount>0?'inset':'none'}}">
          <ion-label class="ion-no-margin ion-no-padding" >
            <p text-bold>Tổng:&nbsp;{{totalCount | number}}</p>
          </ion-label>
        </ion-item>

        <ion-item *ngFor="let item of data;trackBy:trackBy">
          <ion-button fill="clear" [matMenuTriggerFor]="menu" slot="start" color="medium">
            <ion-icon slot="start" *ngIf="item.is_App;else desktopIcon" name="phone-portrait-outline"
              color="asp">
            </ion-icon>
          </ion-button>

          <ng-template #desktopIcon>
            <ion-icon slot="start" name="desktop-outline" color="asp"></ion-icon>
          </ng-template>
          <mat-menu #menu="matMenu">
            <button *ngIf="perm?.allow_View" mat-menu-item routerLink="/components/inventory/detail/{{item.stt}}" detail="true">
              <mat-icon>preview</mat-icon>
              <span>Xem chi tiết</span>
            </button>
            <button *ngIf="perm?.allow_Delete" mat-menu-item (click)="delete(item)">
              <mat-icon>delete</mat-icon>
              <span>Xoá</span>
            </button>
          </mat-menu>
          <ion-label class="ion-no-padding" routerLink="/components/inventory/detail/{{item.stt}}">
            <h3>
              {{item.ten_Kho}}
            </h3>
            <p>{{item.ngay_Kk | formatDate}}</p>
            <p>{{item.ghi_Chu}}</p>
          </ion-label>
          <ion-icon slot="end" color="asp" *ngIf="item.is_DaXuLy" name="checkmark-done-outline"></ion-icon>

        </ion-item>
      </ion-list>
    </ng-container>

    <ng-template #elseTemplate>
      <asp-skeleton></asp-skeleton>
    </ng-template>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-grid>
</ion-content>