<ion-header>
  <ion-toolbar color="asp">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" fill="clear">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{strTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="perm?.allow_New" (click)="add()" color="asp">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-row class="info-top mt-20">
    <span class="icon-top">
      <ion-icon name="desktop-outline" [color]="'success'" size="large" class="icon">
      </ion-icon>
    </span>
    <ion-col size="3" class="ion-text-center mt-20">
      <h3>{{model?.ma_Vt}} </h3>
      <p>{{model?.ten_Vt}} </p>
    </ion-col>
    <ion-col size="2.5" class="ion-text-left mt-20">
      <p>Cần sản xuất</p>
      <p>Tổng thống kê</p>
      <p>Tổng đạt</p>
    </ion-col>
    <ion-col size="1.5" class="ion-text-center mt-20">
      <h6 class="title">{{model?.so_Luong_Ct_Can_Sx | number}} </h6>
      <h6 class="title">{{model?.so_Luong_ThongKe| number}}</h6>
      <h3 class="title">{{model?.so_Luong_Dat| number}} </h3>
    </ion-col>
    <ion-col size="2" class="ion-text-left mt-20">
      <p>Số SO</p>
      <p>Số KHSX</p>
      <p>Số LSX</p>
    </ion-col>
    <ion-col size="3" class="ion-text-left mt-20">
      <p>{{model?.so_Ct_SO }}</p>
      <p>{{model?.so_Ct_KHSX}}</p>
      <p>{{model?.so_Ct_LSX }}</p>
    </ion-col>
  </ion-row>

  <app-asp-search [(aspModel)]="searchTerm" (aspModelChange)="getListStep()"></app-asp-search>

  <ion-grid>
    <ng-container *ngIf="perm?.allow_View">
      <ion-list>
        <ion-item *ngFor="let item of data; trackBy: trackBy" detail="false">
          <ion-label (click)="edit(item)">
            <p>
              Ngày thống kê: {{item.ngay_Ct | formatDate }}
            </p>
            <p>
              <span>{{ item.ma_NhaMay }} - {{ item.ma_PhanXuong }} - {{ item.ma_Ca_Sx}}</span>
            </p>

            <p>
              <span >{{ item.ma_DayChuyen }} - {{ item.ma_CongDoan }} - {{ item.ma_ChiTietSp }}</span>
            </p>

            <p>
              Số lượng đầu vào: {{item.so_Luong_Dau_Vao | number }}
            </p>
            <p>
              Số lượng đạt: {{item.so_Luong_Dat | number }}
            </p>
            
          </ion-label>
          
          <ion-button fill="clear" [matMenuTriggerFor]="menu" slot="start" color="medium">
            <ion-icon slot="start" *ngIf="item.is_App; else desktopIcon" name="phone-portrait-outline"
              [color]="item.is_HoanThanh ? 'asp' : 'danger'">
            </ion-icon>
            <ng-template #desktopIcon>
              <ion-icon slot="start" name="desktop-outline" [color]="
                  item.ten_TrangThai == 'Đã duyệt' ? 'secondary' : 'danger'
                "></ion-icon>
            </ng-template>
          </ion-button>

          <ion-note slot="end" class="ion-no-margin mt-15 f-20" color="success" mode="ios" style="font-size: inherit;">
            <ion-text class="ml-10 " color="success"> {{item.so_Luong | number}}</ion-text>
            
          </ion-note>        

          <ion-button slot="end" fill="clear" [matMenuTriggerFor]="menu" class="ml-10 ion-no-margin ion-no-padding"
            color="medium">
            <ion-icon slot="icon-only" name="ellipsis-vertical-sharp" size="default"></ion-icon>
          </ion-button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="perm?.allow_Edit" (click)="edit(item)">
              <mat-icon>flip_to_front</mat-icon>
              <span>Sửa</span>
            </button>
            <button mat-menu-item *ngIf="perm_qc?.allow_Access" (click)="edit(item, true)">
              <mat-icon>checkbox-outline</mat-icon>
              <span>QC</span>
            </button>
            <button mat-menu-item *ngIf="perm?.allow_Delete" (click)="remove(item)">
              <mat-icon>delete</mat-icon>
              <span>Xóa</span>
            </button>
          </mat-menu>
        </ion-item>
      </ion-list>
    </ng-container>
  </ion-grid>
</ion-content>