<ion-header>
  <ion-toolbar color="asp">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" fill="clear">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{strTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light" class="p-8">

  <ion-grid>
    <mat-horizontal-stepper labelPosition="bottom" [linear]="linner" #stepper>
      <mat-step [stepControl]="fdInfo.control">
        <ng-template matStepLabel>Thông tin chung</ng-template>
        <form role="form" #fdInfo="ngForm">
          <app-statistics-info-form [(model)]="model" [is_QC]="is_QC"></app-statistics-info-form>

          <div class="form-row button-row p-5" align="center">
            <button mat-raised-button (click)="resetInfo()" [disabled]="fdInfo.invalid">
              Nhập lại
            </button>
            <button mat-raised-button matStepperNext color="primary" [disabled]="fdInfo.invalid">
              Tiếp theo
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [completed]="model && model.so_Luong_Dat > 0">
        <ng-template matStepLabel>Sản phẩm</ng-template>
        <form role="form" #fdProduct="ngForm">
          <app-statistics-products-form [(model)]="model" [is_QC]="is_QC"></app-statistics-products-form>
          <div class="form-row p-5" align="center">
            <button mat-raised-button matStepperPrevious color="primary">
              Quay lại
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </ion-grid>

</ion-content>

<ion-footer *ngIf="stepper.selectedIndex == 1" color="bgcolor" class="bg-footer ion-no-border">
  <ion-toolbar>
    <ion-button (click)="closeModal(true)" expand="block" size="default" color="asp"
      [disabled]="FormCheckValid() || (!allow_Edit && enuEdit!=78) ">
      <span>Lưu</span>
      <ion-icon name="checkmark-done-sharp" slot="start" size="default"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>