<ion-header [translucent]="true">
  <ion-toolbar color="asp">
    <ion-buttons slot="start">
      <ion-button [fill]="'clear'" routerLink="/tabs/home">
        <ion-icon slot="icon-only" ios="chevron-back-outline" md="arrow-back-outline" size="default"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title[strMaCt] }}</ion-title>
    <ion-buttons slot="end" fill="clear">
      <ion-button (click)="openFilterModal()">
        <ion-icon slot="icon-only" md="filter-sharp" ios="filter-outline" size="default"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="loadMoreData($event, true)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-asp-search [(aspModel)]="searchTerm" (aspModelChange)="getList()"></app-asp-search>
 
  <ng-container *ngIf="perm?.allow_Access">
    <ion-list>
      <ion-list-header>
        <ion-label>
          <p>
            Tổng:&nbsp;<span style="font-size: 14px" text-bold>{{totalCount | number}}</span>
          </p>
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of data; trackBy: trackBy" detail="false">
        <ion-label (click)="view_edit(item)">
          <div class="ion-text-wrap">
            <h3>{{ item.ten_Vt }} ({{ item.ma_Vt }})</h3>
          </div>
          <p>LSX - {{item.so_Ct_LSX }} - (SO - {{ item.so_Ct_SO}})</p>
          <p>Số lượng nhập thành phẩm</p>
          <ion-row>
            <ion-col size="10">
              <mat-progress-bar color="primary" mode="determinate" [value]="item.ty_Le_HoanThanh"></mat-progress-bar>
            </ion-col>
            <ion-col size="2">{{ item.ty_Le_HoanThanh*100|number}}%</ion-col>
          </ion-row>
        </ion-label>
        <ion-button fill="clear" slot="start" color="medium">
          <ion-icon slot="start" [name]="item.is_App ? 'phone-portrait-outline' : 'desktop-outline'"
            [color]="item.so_Luong - item.so_Luong_Dat == 0 ? 'asp' : 'danger'">
          </ion-icon>
        </ion-button>
        <ion-note slot="end"> <span style="font-size:large">{{ item.so_Luong9 }}</span></ion-note>
      </ion-item>
    </ion-list>
  </ng-container>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
