.cus-searchbar {
  margin: 0 auto;

  .searchbar-input {
    box-shadow: none;
    background: $asp-bg-input;
    border-radius: 24px;
  }
}

ion-item.info {
  .avatar {
    width: 90px;
    height: 90px;
    border: solid 1px $asp-primary-colors;
  }
}

ion-segment {


  &.ios {
    ion-segment-button {
      --indicator-height: 0;
      --border-color: $asp-primary-colors;
      --border-width: 1px;
      --border-style: solid;

      // border: solid 1px $asp-primary-colors;
      &.segment-button-checked {
        color: #FFF;
        background-color: $asp-primary-colors;
        border: solid 1px $asp-primary-colors;
      }
    }

  }
}

ion-tabs {
  ion-tab-bar {
    ion-tab-button {
      color: $asp-secondary-colors;

      &.tab-selected {
        color: $asp-primary-colors;
      }
    }
  }
}

.asp-card {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 0px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 1px 0 rgba(0, 0, 0, 0.12);

  img {
    width: auto;
  }

  .card-content-md {
    padding-top: 0;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 0;
    padding-inline-end: 0;
  }
}

.div-button {
  display: block;
  text-align: center;
  cursor: pointer;
  color: $asp-primary-colors;
  max-width: 100%;
  margin: 10px 0;
  padding: 5px 0;

  .icon {
    display: block;
    font-size: 34px;
    margin: 0 auto 4px;
  }

  .icon::before {
    clear: both;
  }

  .text {
    display: block;
    font-size: 10pt;
    color: #000;
  }

  &.large {
    margin: 5px;

    .text {
      font-size: 11pt;
    }

    .icon {
      font-size: 36px;
    }
  }
}

// .div-button:hover {
//   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
// }

.div-button:hover,
.div-button:focus {
  box-shadow: none;
  outline: none;
}

.action-sheets-company {
  font-size: 10pt;
  color: $asp-primary-colors;
}

ion-searchbar {
  input {
    font-size: 11pt !important;
  }
}

ion-refresher-content {
  color: $asp-primary-colors !important;
}

form {
  ion-item {
    ion-label {
      font-size: 11pt !important;
    }
  }
}

.form-edit {
  .mat-form-field+.mat-form-field {
    margin-left: 8px;
  }

  .mat-radio-button~.mat-radio-button {
    margin-left: 16px;
  }
}

.form-row {
  display: block;
  margin-bottom: 12px;

  .mat-form-field {
    width: 100%;
  }
}

.map {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-bottom {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: #fdfdff;

  // border-top: #eff0f1 solid 1px;
  ion-item {
    min-height: 30px !important;
    height: 30px !important;

    ion-text {
      font-size: 11pt;
    }
  }
}
.button-row{
  .mat-button-base {
    margin: 8px 8px 8px 0;
  }
}
.bg-footer {
  background: #fdfdff;
}

.transparent-body {
  background: transparent !important;
}

ion-app.cameraView,
ion-app.cameraView ion-content,
ion-app.cameraView .nav-decor {
  background: transparent none !important;
}

/*custom styles angular material*/
.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: $asp-primary-colors;
}

.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: $asp-primary-colors;
}

.mat-icon-button.mat-success {
  color: $asp-primary-colors;
}

.mat-input-element {
  caret-color: $asp-primary-colors;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $asp-primary-colors;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: $asp-primary-colors;
}

// .mat-form-field-appearance-outline .mat-form-field-infix {
//   padding: 0.2em 0 0.6em 0;
// }
// .mat-form-field-label-wrapper:not(.mat-form-field-appearance-outline .mat-form-field-label){
//   top: -1.5em;
// }
// .mat-form-field-appearance-outline .mat-form-field-label{
//   top: 2.5em;
// }
// ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
// ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

// ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
//     transform: translateY(-1.1em) scale(.75);
//     width: 133.33333%;
// }