:root {
  /* Set the background of the entire app */
  --ion-background-color: #FFFFFF;

  /* Set the font family of the entire app */
  --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;

  --ion-color-asp: #2196f2;
  --ion-color-asp-rgb: 0, 102, 0;
  --ion-color-asp-contrast: #ffffff;
  --ion-color-asp-contrast-rgb: 255, 255, 255;

  // get shade or tint color https://maketintsandshades.com/
  --ion-color-asp-shade: #1a78c2;
  --ion-color-asp-tint: #4dabf5;

}

.ion-color-asp {
  --ion-color-base: var(--ion-color-asp);
  --ion-color-base-rgb: var(--ion-color-asp-rgb);
  --ion-color-contrast: var(--ion-color-asp-contrast);
  --ion-color-contrast-rgb: var(--ion-color-asp-contrast-rgb);
  --ion-color-shade: var(--ion-color-asp-shade);
  --ion-color-tint: var(--ion-color-asp-tint);
}