$asp-primary-colors: #2196f2;
$asp-light-colors: #ffffff;
$asp-medium-colors: #616161;
$asp-danger-colors: #f04141;
$asp-bg-input: #f5f5f5;
$asp-warning-colors: #ff8c00;
$color-warn: #ff8c00;
$color-success: #33691e;

$asp-secondary-colors: rgba(0, 0, 0, 0.54);

$font-family-base: "“Roboto”";
$font-family-ios-base: "“Roboto”";

$border-style: 1px solid rgba(0, 0, 0, 0.12);

$grid-breakpoints: (
    xs: 0,
    // Phone (0px - 575px)
    sm: 576px,
    // Phablet (576px - 767px)
    md: 768px,
    // Tablet vertical (768px - 991px)
    lg: 992px // Tablet horizontal, Desktop (992px and above),,,
);
